.wrapper {
  width: 100%;
  background: #fff;
  padding: 15px;
}

.item {
  margin-bottom: 15px;

  &__title {
    color: #333;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.15;
    margin: 0 0 15px;
  }
}

.habs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hab {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;

  &__name {
    background-color: #e4eff2;
    border-radius: 3px;
    color: #487284;
    display: inline-flex;
    align-items: center;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding: 0 13px;
    min-height: 28px;
    text-decoration: none;
    vertical-align: middle;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 0 2px 3px #e8e8e8;
  min-width: 320px;
  max-width: 320px;

  &__top {
    padding: 15px;
    display: flex;
  }

  &__image {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: #cd66cd;
      display: inline-block;
      font-size: 1.0625rem;
      font-weight: 700;
      line-height: 1.5;
    }

    p {
      color: #6f7577;
      font-size: 0.75rem;
      line-height: 1rem;
      text-align: center;
    }
  }

  &__name {
    padding: 0 15px;
    font-weight: 700;
    font-size: 14px;
  }

  &__descr {
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__subs {
    background-color: #fff;
    border: 1px solid #70b025;
    border-radius: 3px;
    color: #579311;
    cursor: pointer;
    font-size: .75rem;
    height: 32px;
    line-height: 1rem;
    outline: 0;
    padding: 4px 8px;
    position: relative;
    margin-bottom: 15px;
    margin-left: 15px;

    span {
      width: 25px;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      display: flex;
      background: #fff;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 2px;
        background: rgb(158, 154, 154);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 2px;
        background: rgb(158, 154, 154);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &:hover {
      background-color: #689d28;
      color: #fff;
    }

    &_active {
      background-color: #689d28;
      color: #fff;
      padding-right: 38px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ccc;
  }

  &__stat {
    font-size: 13px;
  }
}